.games {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.games-link {
  transition: transform 0.3s;
}
.games-link:hover {
  transform: scale(1.05);
}

.games-img {
  display: block;
  width: 100%;
  height: auto;
}
